ogc-types/schemas/gml/EPSG v2.2 - 20200518.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:gmd="http://www.isotc211.org/2005/gmd" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:epsg="urn:x-ogp:spec:schema-xsd:EPSG:2.2:dataset" targetNamespace="urn:x-ogp:spec:schema-xsd:EPSG:2.2:dataset" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.2" id="epsg">
  <!-- ======================================================================

    GML 3.2.1 application schema for the EPSG Geodetic Parameter Dataset.
    
    Change history:
    
    2006 Sep 15:  Initial version. Based on GML 3.1.1
    2007 Jan 05:  v0.2  Based on GML 3.2.0
    2007 Jan 19:  v0.3  Fixed sexagesimal handling
    2007 Jan 26:  v0.4  Method - signReversal moved to metadata.
    2007 Feb 28:  v0.5  Alias - added 'code' attribute
    2007 Apr 10:  v0.6  Supersession - made supersededBy property optional, to support
                        revised interpretation of supersesssion model.
    2007 May 05:  v0.7  Metadata - removed 'epsg:dataSource' element.  Data source is now
                        located in 'codeSpace' attribute on gml:identifier. 
    2007 Oct 01:  v0.8  Dropped EllipsoidMetaData.
    2007 Nov 07:  v0.9  Changed VersionHistory/versionDate type to xsd:dateTime from xsd:date.
    2008 Mar 08:  v0.10 Added maxOccurs="unbounded" to VersionHistory/supersededBy element.
    2012 May 02:  v1.0  Added GML 3.2.1 dependencies and correct AreaOfUse extension.
    2019 Sep 19:  v2.0  Added support for ISO 19111:2019
    2020 Jan 21:  v2.1  Corrected missing type for frameReferenceEpoch in DynamicVerticalDatumType
                        and DynamicGeodeticDatumType. Type was set to double. Added 
                        gml:identifier to VersionHistoryType, Redefined the definition of 
                        Extent and  removed the element geometryFile
                        and finally added comments
    2020 May 18:  v2.2  Amended RealizationMethod from requiring the three methods documented in
                        ISO 19111:2019 to a string to permit code list extension.
                        Changed heightTransformation to DefiningOperation
====================================================================== -->
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="../gml/3.2.1/gml-3.2.1.xsd" />
  <import namespace="http://www.isotc211.org/2005/gmd" schemaLocation="../iso/19139/20070417/gmd/gmd-20070417.xsd" />
  <!-- ====================================================================== -->
  <!--Change request processing comments. Not used in v2 schema.-->
  <!---->
  <element name="Comment" type="epsg:CommentType" substitutionGroup="gml:Definition" />
  <complexType name="CommentType">
    <complexContent>
      <extension base="gml:DefinitionType">
        <sequence>
          <!--Note: comment id is mapped to gml:identifier 
      comment text is mapped to gml:remarks-->
          <element name="commentDate" type="date" />
          <!-- contributor is the name of the person submitting the comment -->
          <element name="contributor" type="string" />
          <!-- commentedObject is a reference to the object to which the comment applies -->
          <element name="commentedObject" type="gml:ReferenceType" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!-- ====================================================================== -->
  <!--Mapping of epsg_namingsystem table.-->
  <!--NAMING SYSTEM is used to discriminate between aliases.-->
  <!--epsg_namingsystem is an extension to ISO 19111.-->
  <element name="NamingSystem" type="epsg:NamingSystemType" substitutionGroup="gml:Definition" />
  <complexType name="NamingSystemType">
    <complexContent>
      <extension base="gml:DefinitionType" />
    </complexContent>
  </complexType>
  <!-- ====================================================================== -->
  <!--Mapping of epsg_change table.-->
  <!--CHANGE REQUEST is used to record dataset data updates.-->
  <!--epsg_change is an extension to ISO 19111.-->
  <element name="ChangeRequest" type="epsg:ChangeRequestType" substitutionGroup="gml:Definition" />
  <complexType name="ChangeRequestType">
    <complexContent>
      <extension base="gml:DefinitionType">
        <sequence>
          <!-- Note: Change Request column 'comment' is mapped to gml:remarks element -->
          <element name="reportDate" type="date" />
          <element name="closedDate" type="date" minOccurs="0" />
          <element name="reporter" type="string" />
          <element name="request" type="string" />
          <element name="tablesAffected" type="string" minOccurs="0" />
          <!-- codesAffected is a SPACE delimited sequence of EPSG entity codes -->
          <element name="codesAffected" type="string" minOccurs="0" />
          <element name="action" type="string" minOccurs="0" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!-- ====================================================================== -->
  <!--Mapping of epsg_versionhistory table.-->
  <!--VERSION HISTORY is used to record Dataset releases.-->
  <!--epsg_versionhistory is an extension to ISO 19111.-->
  <element name="VersionHistory" type="epsg:VersionHistoryType" substitutionGroup="gml:Definition" />
  <complexType name="VersionHistoryType">
    <complexContent>
      <extension base="gml:DefinitionType">
        <sequence>
          <element ref="gml:identifier" />
          <element name="versionNumber" type="string" />
          <element name="versionDate" type="dateTime" />
          <element name="supersedes" type="string" minOccurs="0" maxOccurs="unbounded" />
          <element name="supersededBy" type="string" minOccurs="0" maxOccurs="unbounded" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!-- ====================================================================== -->
  <!--EXTENT-->
  <!--EPSG v1 schema supporting the epsg_area table have been removed, except-->
  <!--for EPSG attributes extending 19115 EX_Extent for ISO country codes.-->
  <!--For EPSG schema v2, gmd:EX_Extent is used but the EPSG extension for-->
  <!--ISO 3166 country code attributes is retained.-->
  <!--(Note: EPSG extent description is mapped to gml:description,-->
  <!--extent name (cryptic summary of description) is mapped to gml:name).-->
  <element name="ExtentDefinition" type="epsg:ExtentDefinitionType" substitutionGroup="gml:Definition" />
  <complexType name="ExtentDefinitionType">
    <complexContent>
      <extension base="gml:DefinitionType">
        <sequence>
          <element name="isoA2CountryCode" type="string" minOccurs="0" />
          <element name="isoA3CountryCode" type="string" minOccurs="0" />
          <element name="isoNumericCountryCode" type="integer" minOccurs="0" />
          <element ref="gmd:EX_Extent" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!-- ====================================================================== -->
  <!--Mapping of the epsg_coordinateaxisname table.-->
  <!--COORDINATE AXIS NAME contains the names of coordinate system axes.-->
  <element name="AxisName" type="epsg:AxisNameType" substitutionGroup="gml:Definition" />
  <complexType name="AxisNameType">
    <complexContent>
      <extension base="gml:DefinitionType" />
    </complexContent>
  </complexType>
  <!-- ====================================================================== -->
  <!--Mapping of the epsg_deprecation table.-->
  <!--DEPRECATION contains the identifiers of deprecated (invalid) entities-->
  <!--and of entities that have replaced them.-->
  <!--epsg_deprecation is an extension to ISO 19111.-->
  <element name="Deprecation" type="epsg:DeprecationType" substitutionGroup="gml:Definition" />
  <complexType name="DeprecationType">
    <complexContent>
      <extension base="gml:DefinitionType">
        <sequence>
          <element name="deprecationDate" type="date" />
          <!-- Note: Deprecation column 'reason' is mapped to gml:description element -->
          <element name="changeRequest" type="gml:ReferenceType" />
          <!-- Note: The property 'tableName' can be derived from the URN for the deprecatedObject -->
          <element name="deprecatedObject" type="gml:ReferenceType" />
          <element name="replacedBy" type="gml:ReferenceType" minOccurs="0" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!-- ====================================================================== -->
  <!--Mapping of the epsg_supersession table.-->
  <!--SUPERSESSION contains the identifiers of entities that remain valid but-->
  <!--have been superseded by other entities, and the identifiers of entities-->
  <!--replacing the superseded entities.-->
  <!--epsg_supersession is an extension to ISO 19111.-->
  <element name="Supersession" type="epsg:SupersessionType" substitutionGroup="gml:Definition" />
  <complexType name="SupersessionType">
    <complexContent>
      <extension base="gml:DefinitionType">
        <sequence>
          <!-- 
		    Note: SUPERSESSION_YEAR in the EPSG model is mapped to date; 
            it will be extended to include month and day as January 1st of the given year. 
		  -->
          <element name="supersessionDate" type="date" minOccurs="0" />
          <!-- 
            Note: The EPSG model does not include changeID reference in the
            Supersession table.  It is included here to support uniform modelling of 
            deprecation and supersession actions.
          -->
          <element name="changeRequest" type="gml:ReferenceType" minOccurs="0" />
          <!-- Note: the property 'tableName' can be derived from the URN for the supersededObject -->
          <element name="supersededObject" type="gml:ReferenceType" />
          <element name="supersededBy" type="gml:ReferenceType" minOccurs="0" />
          <!-- 
            Possible values for supersessionType:
              Supersession - Both old and new record remain valid. The old is typically retained for 
                 existing users, correcting errors etc.
              Retirement - Information has been withdrawn by its information source and not 
                 replaced.
          -->
          <element name="supersessionType" type="string" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!-- ====================================================================== -->
  <!--COMMON METADATA-->
  <!--Metadata common to many EPSG tables. This data is an extension to ISO 19111.-->
  <element name="CommonMetaData" type="epsg:CommonMetaDataType" substitutionGroup="gml:AbstractMetaData" />
  <complexType name="CommonMetaDataType" mixed="true">
    <complexContent mixed="true">
      <extension base="gml:AbstractMetaDataType">
        <sequence>
          <!--EPSG subdivides geodetic CRS types into geocentric, geographic3D and  -->
          <!--geographic2D. ISO 19111:2007 had no such subdivision, all being geodetic.-->
          <!--As a consequence, GML 3.2.0 deprecated the entity type geographic. The -->
          <!--EPSG schema use epsg:type to preserve the EPSG subtypes.-->
          <!--In ISO 19111:2019 the CRS type geographic was introduced. This is  -->
          <!--described using epsg:type. epsg:type is also used for derived projected.-->
          <element name="type" type="string" minOccurs="0" />
          <element name="alias" type="epsg:AliasType" minOccurs="0" maxOccurs="unbounded" />
          <element name="informationSource" type="string" minOccurs="0" />
          <element name="revisionDate" type="date" minOccurs="0" />
          <element name="changes" type="epsg:changeListType" minOccurs="0" />
          <element name="show" type="boolean" minOccurs="0" />
          <element name="isDeprecated" type="boolean" minOccurs="0" />
          <!--SEXAGESIMAL DEGREE-->
          <!--Sexagesimal degree values (EPSG UoM code 9110) are represented in GML-->
          <!--as decimal (with UoM code 9102). The following elements are used to-->
          <!--preserve the exact sexagesimal value stored in the parameter value field-->
          <!--as sexagesimal DMS with UoM code 9110.-->
          <element name="sexagesimalValue" type="epsg:sexagesimalValueType" minOccurs="0" maxOccurs="unbounded" />
          <!--USAGE. EPSG version 2.0 extension for ISO 19111:2019 ObjectUsage element.-->
          <!--Usage pairs Scope and Extent.-->
          <element ref="epsg:Usage" minOccurs="0" maxOccurs="unbounded"></element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!---->
  <!--ALIAS-->
  <!--=====-->
  <!--Mapping of epsg_alias table. This is used to cover both identifier and-->
  <!--alias from the 19111 Identified Object class.-->
  <complexType name="AliasType">
    <sequence minOccurs="0">
      <element name="remarks" type="string" />
    </sequence>
    <attribute name="alias" type="string" />
    <attribute name="code" type="string" />
    <attribute name="codeSpace" type="anyURI" />
  </complexType>
  <!---->
  <!--CHANGE_ID-->
  <!--=========-->
  <!--Change Request identifiers list. An attribute of a register item. -->
  <complexType name="changeListType">
    <sequence>
      <element name="changeID" type="gml:ReferenceType" minOccurs="0" maxOccurs="unbounded" />
    </sequence>
  </complexType>
  <!---->
  <!-- SEXAGESIMAL VALUES-->
  <!--==================-->
  <!-- 
    Sexagesimal values:
    ASSUMPTION:  
      Individual properties which use sexagesimal UOM are constrained to occur *ONCE*, 
      at most.  If this constraint does not hold for a given object, this approach will 
      fail, as it can only reference a single instance per property.
      
      Note that, if an Operation uses the same sexagesimal parameter definition twice, it fails.
  -->
  <!---->
  <complexType name="sexagesimalValueType">
    <sequence>
      <element name="degrees" type="integer" />
      <element name="minutes" type="nonNegativeInteger" minOccurs="0" />
      <element name="seconds" type="double" minOccurs="0" />
      <element name="hemisphere" type="epsg:HemisphereType" minOccurs="0" />
      <!-- 
        propertyReference holds the URN of the derived field which, if specified, [MUST]  
        refer to an object property.  For this example, propertyReference would be the value of 
        the xlink:href below:
          <usesValue>
            <value uom="urn:x-ogc:def:unit:EPSG:9110">50</value>
            <valueOfParameter xlink:href="urn:x-example:epsg:operation-parameter:8823"/>
          </usesValue>
      -->
      <element name="propertyReference" type="gml:ReferenceType" minOccurs="0" />
    </sequence>
    <attribute name="uom" type="anyURI" />
    <!--The original UoM reference which indicates the original encoding format -->
  </complexType>
  <!--Hemisphere for sexagesimal values which require it [latitude longitude]-->
  <simpleType name="HemisphereType">
    <restriction base="string">
      <enumeration value="N" />
      <enumeration value="E" />
      <enumeration value="W" />
      <enumeration value="S" />
    </restriction>
  </simpleType>
  <!-- ====================================================================== -->
  <!--COORDINATE OPERATION attributes which are additional to the 19111 data model.-->
  <!--to the 19111 data model.-->
  <element name="CoordinateOperationMetaData" type="epsg:CoordinateOperationMetaDataType" substitutionGroup="gml:AbstractMetaData" />
  <complexType name="CoordinateOperationMetaDataType" mixed="true">
    <complexContent mixed="true">
      <extension base="gml:AbstractMetaDataType">
        <sequence>
          <element name="variant" type="nonNegativeInteger" minOccurs="0" />
          <element name="sourceCoordDiffUom" type="gml:ReferenceType" minOccurs="0" />
          <element name="targetCoordDiffUom" type="gml:ReferenceType" minOccurs="0" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!-- ====================================================================== -->
  <!--COORDINATE OPERATION METHOD attributes which are additional to the 19111-->
  <!--data model.-->
  <element name="CoordinateOperationMethodMetaData" type="epsg:CoordinateOperationMethodMetaDataType" substitutionGroup="gml:AbstractMetaData" />
  <complexType name="CoordinateOperationMethodMetaDataType" mixed="true">
    <complexContent mixed="true">
      <extension base="gml:AbstractMetaDataType">
        <sequence>
          <element name="isOperationReversible" type="boolean" minOccurs="0" />
          <!--Sign reversal for the method... -->
          <element name="signReversal" type="epsg:ParamSignReversalType" minOccurs="0" maxOccurs="unbounded" />
          <element name="example" type="string" minOccurs="0" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!-- ====================================================================== -->
  <!--COORDINATE OPERATION PARAMETER attributes which are additional to the-->
  <!--19111 data model. For methods which are reversible, parameter sign reversal-->
  <!--indicates (if changeSign=true) whether the sign of the parameter must be-->
  <!--reversed for the reverse operation.-->
  <complexType name="ParamSignReversalType">
    <complexContent>
      <extension base="gml:ReferenceType">
        <attribute name="changeSign" type="boolean" />
      </extension>
    </complexContent>
  </complexType>
  <!-- ====================================================================== -->
  <!--CRS TYPE. EPSG distinguishes between geodetic CRS subtypes of geocentric-->
  <!--and geographic. 19111:2007 removed this distinction, and geographic was-->
  <!--deprecated in GML 3.2.0. epsg:CRSMetadataType was introdced in the EPSG-->
  <!--v1 schema to record EPSG subtypes of geodetic CRS. It is also used for-->
  <!--all other CRS types.-->
  <!---->
  <!--In EPSG, all geodetic CRSs have an associated datum, but for geographic 3D-->
  <!--and 2D based on one datum, tey are also gicen a derived CRS assocition.-->
  <!--epsg:CRSMetadata is used to record the derivation.-->
  <!--Note: ProjectedCRS uses GML properties conversion and baseGeodeticCRS.-->
  <element name="CRSMetaData" type="epsg:CRSMetaDataType" substitutionGroup="gml:AbstractMetaData" />
  <complexType name="CRSMetaDataType" mixed="true">
    <complexContent mixed="true">
      <extension base="gml:AbstractMetaDataType">
        <sequence>
          <!--projectionConversion is an ancient EPSG name predating ISO 19111.-->
          <!--It maps to 19111 DerivedCRS derivingConversion and may be any conversion,-->
          <!--not necessarily a map projection.-->
          <element name="projectionConversion" type="gml:ReferenceType" minOccurs="0" />
          <!--sourceGeographicCRS is an ancient EPSG name predating ISO 19111.-->
          <!--It maps to 19111 DerivedCRS baseCRS, and may not necessarily be geographic.-->
          <element name="sourceGeographicCRS" type="gml:ReferenceType" minOccurs="0" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--======================================================================= -->
  <!--COORDINATE OPERATION PARAMETER USAGE-->
  <!-- 
    Captures EPSG specific properties for parameter usage and is only used
    inline on OperationMethods (not on Parameters themselves)
  -->
  <element name="ParameterMetaData" type="epsg:ParameterMetaDataType" substitutionGroup="gml:AbstractMetaData" />
  <complexType name="ParameterMetaDataType" mixed="true">
    <complexContent mixed="true">
      <extension base="gml:AbstractMetaDataType">
        <sequence>
          <element name="signReversal" type="boolean" minOccurs="0" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--=======================================================================-->
  <!--=======================================================================-->
  <!--  *** Below here are EPSG extensions to cover those revisions to the data-->
  <!--*** model made in the ISO 19111:2019 revision of ISO 19111:2007 that-->
  <!--*** are in scope of the EPSG Dataset but not supported in GML 3.2.1.-->
  <!--*** Temporal and parametric are out of scope of EPSG. To minimise schema-->
  <!--*** changes the constructs use elements currently avaialble in GML 3.2.1.-->
  <!---->
  <!--USAGE-->
  <!--Usage is the 19111:2019 ObjectDomain scope and domainOfValidity pairing.-->
  <element name="Usage" type="epsg:UsageType" />
  <complexType name="UsageType">
    <sequence>
      <element name="extent" type="gml:ReferenceType" />
      <element ref="gml:scope" />
    </sequence>
  </complexType>
  <!--========================================================================-->
  <!--POINT MOTION OPERATION-->
  <!--The new coordinate operation type, Point Motion Operation, is defined-->
  <!--using the existing gml:Transformation construct. However source CRS and-->
  <!--target CRS should be the same.-->
  <!---->
  <!--PMO requires source and target coordinate epoch, but these are assumed-->
  <!--to be parameters input by application users. Except for reference epoch-->
  <!--which is a coordinate operation parameter treated in the normal way, they-->
  <!--are not stored in the geodetic database and therefore do not require-->
  <!--definition in this schema.-->
  <element name="PointMotion" type="epsg:PointMotionType" substitutionGroup="gml:Transformation">
    <annotation>
      <documentation>gml:Transformation is a concrete object element derived from gml:GeneralTransformation (13.6.2.13).
This concrete object can be used for all operation methods, without using a GML Application Schema that defines operation-method-specialized element names and contents, especially for methods with only one Transformation instance.
The parameterValue elements are an unordered list of composition associations to the set of parameter values used by this conversion operation.</documentation>
    </annotation>
  </element>
  <complexType name="PointMotionType">
    <complexContent>
      <extension base="gml:TransformationType"></extension>
    </complexContent>
  </complexType>
  <!--======================================================================-->
  <!--DEFINING OPERATION is a generalisation of the HeightTransformation-->
  <!--association in the 19111:2019 model that provides an additional attribute-->
  <!--indicating when a geoid or height correction model defines a Vertical CRS.-->
  <!--DefiningOperation permits any CRS type to be described as being defined-->
  <!--by a transformation. It is implemented as gml:ReferenceType and-->
  <!--enclosed in a MetaData statement.-->
  <element name="DefiningOperationMetaData" type="epsg:DefiningOperationMetaDataType" substitutionGroup="gml:AbstractMetaData" />
  <complexType name="DefiningOperationMetaDataType" mixed="true">
    <complexContent mixed="true">
      <extension base="gml:AbstractMetaDataType">
        <sequence>
          <element name="definingOperation" type="gml:ReferenceType"></element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--=======================================================================-->
  <!--VELOCITY MODEL is the 19111:2019 Deformation association.-->
  <!--To support change of coordinate epoch within a dynamic CRS through-->
  <!--point motion operations, vertical and geodetic CRSs may be associated-->
  <!--with a velocity model or deformation grid. This is implemented as-->
  <!--gml:ReferenceType and enclosed in a MetaData statement.-->
  <element name="VelocityModelMetaData" type="epsg:VelocityModelMetaDataType" substitutionGroup="gml:AbstractMetaData"></element>
  <complexType name="VelocityModelMetaDataType" mixed="true">
    <complexContent mixed="true">
      <extension base="gml:AbstractMetaDataType">
        <sequence>
          <element name="velocityModel" type="gml:ReferenceType"></element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--==========================================================================-->
  <!--ORDINAL COORDINATE SYSTEM-->
  <!--The 19111:2019 OrdinalCS type is defined similarly to existing CS types.-->
  <!--However the CS axis member CoordinateSystemAxis requires a mandatory attribute,-->
  <!-- uom, which is inapplicable to OrdinalCS so this needs setting to "1" to-->
  <!--indicate that the axis is unitless.-->
  <element name="OrdinalCS" type="epsg:OrdinalCSType" substitutionGroup="gml:AbstractCoordinateSystem"></element>
  <complexType name="OrdinalCSType">
    <complexContent>
      <extension base="gml:AbstractCoordinateSystemType" />
    </complexContent>
  </complexType>
  <!--======================================================================-->
  <!--DATUM ENSEMBLE-->
  <!--The 19111:2019 Datum Ensemble has been defined using substitution of-->
  <!--gml:datum to leave CRS schema unchanged. A consequence of this is that-->
  <!--datum elements such as ellipsoid appear in the ensemble gml document.-->
  <!--Ensembles are defined only for datum subtypes geodetic and vertical.-->
  <element name="ensembleAccuracy">
    <annotation>
      <documentation>epsg:ensembleAccuracy is an association role to a DQ_PositionalAccuracy object as encoded in ISO/TS 19139, either referencing or containing the definition of that positional accuracy. That object contains an estimate of the impact of combining several datums as one.An indicative number indicating the loss of accuracy in metres that using the datum ensemble may bring to coordinates.</documentation>
    </annotation>
    <complexType>
      <sequence minOccurs="0">
        <element ref="gmd:AbstractDQ_PositionalAccuracy" />
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup" />
    </complexType>
  </element>
  <complexType name="GeodeticDatumEnsembleType">
    <complexContent>
      <extension base="gml:GeodeticDatumType">
        <sequence>
          <element name="datumIdentifier" type="gml:ReferenceType" minOccurs="2" maxOccurs="unbounded" />
          <element ref="epsg:ensembleAccuracy"></element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="VerticalDatumEnsembleType">
    <complexContent>
      <extension base="gml:VerticalDatumType">
        <sequence>
          <element name="datumIdentifier" type="gml:ReferenceType" minOccurs="2" maxOccurs="unbounded" />
          <element ref="epsg:ensembleAccuracy" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="GeodeticDatumEnsemble" type="epsg:GeodeticDatumEnsembleType" substitutionGroup="gml:GeodeticDatum"></element>
  <element name="VerticalDatumEnsemble" type="epsg:VerticalDatumEnsembleType" substitutionGroup="gml:VerticalDatum" />
  <!--=======================================================================-->
  <!--DATUM attributes.-->
  <!--19111:2019 introduced several new attributes. These are supported by -->
  <!--epsg:DatumMetaData. This is not metadata as such but uses the MetaData-->
  <!--structure to insert itself in an existing gml:Datum. It was done this-->
  <!--way in order not to have to re-define the entire Datum structure.-->
  <!---->
  <!--19111:2019 deprecated realization epoch and replaced it with publication-->
  <!--date. They have the same data type and cardinality. This implementation-->
  <!--uses GML v3.2.1 gml:realizationEpoch to hold publicationDate data.-->
  <!---->
  <!--The new elements are realization method, frame reference epoch and-->
  <!--conventionalRS. Frame reference epoch is implemented in Dynamic Datums-->
  <!--below. REALIZATION METHOD is defined here through DatumMetaData.-->
  <element name="DatumMetaData" type="epsg:DatumMetaDataType" substitutionGroup="gml:AbstractMetaData"></element>
  <complexType name="DatumMetaDataType" mixed="true">
    <complexContent mixed="true">
      <extension base="gml:AbstractMetaDataType">
        <sequence>
          <element name="conventionalRSName" minOccurs="0">
            <annotation>
              <documentation>conventionalRSName is conventional Reference System name and is for use with datum ensembles. A datum ensemble should in reality only consist of datums with the same conventional Reference System name</documentation>
            </annotation>
          </element>
          <element name="realizationMethod" type="string" minOccurs="0"></element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--==========================================================================-->
  <!--DYNAMIC REFERENCE FRAME (DYNAMIC DATUM)-->
  <!--ISO 19111:2019 defines dynamic geodetic and vertical reference frame types.-->
  <!--This implementaton derives these from GML 3.2.1 gml:datum and as a consequence-->
  <!--uses the names DynamicGeodeticDatum and DynamicVerticalDatum.-->
  <!--The attribute frameReferenceEpoch is added to both.-->
  <!---->
  <!---->
  <!--DYNAMIC VERTICAL-->
  <!--================-->
  <element name="DynamicVerticalDatum" type="epsg:DynamicVerticalDatumType" substitutionGroup="gml:VerticalDatum">
    <annotation>
      <documentation>gml:VerticalDatum describes the relation of gravity-related heights or depths to the Earth. This includes the promolgation of the surface away from its origin. It includes both modern vertical reference frames and classical vertical datums. If the frame or datum defining parameters include time evolution, it is dynamic.</documentation>
    </annotation>
  </element>
  <complexType name="DynamicVerticalDatumType">
    <complexContent>
      <extension base="gml:VerticalDatumType">
        <sequence>
          <element name="frameReferenceEpoch" type="double"></element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!---->
  <!--DYNAMIC GEODETIC-->
  <!--================-->
  <element name="DynamicGeodeticDatum" type="epsg:DynamicGeodeticDatumType" substitutionGroup="gml:GeodeticDatum">
    <annotation>
      <documentation>gml:GeodeticDatum defines the position of the origin, the scale, and the orientation of a two- or three-dimensional coordinate system to the Earth, together with the geometric model of the earth (ellipsoid or sphere).  It includes both modern terrestrial reference frames and classical geodetic datums. If the frame or datum defining parameters include time evolution, it is dynamic.</documentation>
    </annotation>
  </element>
  <complexType name="DynamicGeodeticDatumType">
    <complexContent>
      <extension base="gml:GeodeticDatumType">
        <sequence>
          <element name="frameReferenceEpoch" type="double"></element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!---->
  <!--==========================================================================-->
  <!--DERIVED PROJECTED CRS-->
  <!--ISO 19111:2019 includes explicit definitions of derived CRSs. The EPSG-->
  <!--schema implements these using the existing gml:DerivedCRS. For the new type-->
  <!--Derived Projected CRS, the derivedCRSType list is extended to include-->
  <!-- "projected" and the codeSpace assigned is "IOGP".-->
  <!--==========================================================================-->
</schema>